@import url('http://fonts.googleapis.com/css?family=Open Sans:300,400,700');
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);


* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #e4efff;
}

h1 {
	font-size: 24px;
}

.btn a {
	color: white;
	text-decoration: none;
}

.logo {
	display: inline-block;
}

.logo h1 {
	font-size: 24px;
	margin: 10px 15px;
	color: #fff;
}

.templatemo-content-wrapper {
	float: left;
	width: 100%;
}
.addpadding{
	padding: 25px 20px 0 20px;
}
.templatemo-content {
	margin-left: 235px;
	margin-top: 0px;
	min-height: 600px;
	/* padding: 25px 20px 0 20px; */
	background-color: white;
	overflow-x: hidden;
	height: 830px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

#templatemo_search_box {
	width: 150px;
	display: inline-block;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color:#3f85ed
}


.templatemo-sidebar {
	padding: 0;
}

.templatemo-sidebar .templatemo-sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.templatemo-sidebar .templatemo-sidebar-menu .welcomeBack {
	font-size: 20px;
	margin: 20px 5px;
	padding: 0;
	text-align: center;
}

.templatemo-sidebar .templatemo-sidebar-menu>li {
	display: block;
	margin: 0;
	padding: 0;
	border: 0px;
}
.bgc div img{
	animation: zoomin 2s ease-in-out infinite alternate;
	-webkit-animation: zoomin 2s ease-in-out infinite alternate;
}
  @keyframes zoomin {
	  0% {-webkit-transform: scale(1);}
	  100% {-webkit-transform: scale(1.1);}
  }
.nav-right label{
	color: white;
	font-size: 18px;
	line-height: 39px;
	margin-right: 10px;
	display: inline-block;
	font-weight: 200;
}
.nav-right a{
	color: white !important;
	text-align: center;
	line-height: 39px;
	font-size: 18px;
	margin-right: 5px;
}
.templatemo-sidebar .templatemo-sidebar-menu>li>a {
	display: block;
	position: relative;
	margin: 0;
	border: 0px;
	padding: 20px 15px;
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
}

.templatemo-sidebar-menu a {
	color: black;
}

.templatemo-sidebar-menu a:hover {
	text-decoration: none;
}

.templatemo-sidebar-menu li.sub .templatemo-submenu {
	display: none;
}

.templatemo-sidebar-menu li.sub.open .templatemo-submenu {
	display: block;
}

.templatemo-submenu {
	padding-left: 0;
}

.templatemo-submenu li {
	list-style: none;
	background-color: #e4efff;
}

.templatemo-submenu li a {
	display: block;
	padding: 20px 15px;
	margin: 0;
}

.templatemo-sidebar .templatemo-sidebar-menu>li.active,
.templatemo-sidebar .templatemo-sidebar-menu>li>a:hover {
	background-color: #91beff;
}

.templatemo-submenu li>a:hover {
	background-color: #91beff;
}
th{
	text-align: center;
}
td{
	line-height: 51.2px;
	text-align: center;
	vertical-align: middle !important;
}
.tableTop label{
	margin: 5px 5px;
}
.tableTop label label label{
	width: 75px;
}
.templatemo-sidebar .templatemo-sidebar-menu>li>a>i {
	font-size: 16px;
	top: 2px;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 4px;
	display: inline-block;
	width: 1.25em;
	text-align: center;
}
.router-link-active{
	background-color:#91beff;
}
.modal-body label{
	display: inline-block;
	font-size: 18px;
	font-weight: 100;
	margin-left: 50px;
}
.modal-body label label{
	width: 150px;
	margin-top: 10px;
}
select{
	background: transparent;
    border: #ccc solid 1px;
	border-radius: 6px;
    padding-left: 10px;
    width: 150px;
    height: 100%;
	color: black;
}
.modal-body label input{
	border: #ccc solid 1px;
	border-radius: 4px;
}
.opreating{
	padding-inline-start: 0;
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}
.opreating li{
	list-style: none;
	display: inline;
}
.resetpsw div{
	margin-bottom: 20px;
}
.resetpsw label{
	font-size: 16px;
	font-weight: 400;
	width: 200px;
}
.resetpsw input{
	border: #ccc solid 1px;
	border-radius: 4px;
}
.resetpsw button{
	margin: 20px 150px;
}

.templatemo-table-fj{
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}
.templatemo-table-fj td, .templatemo-table-fj th
{
  border: 1px solid #cad9ea;
  color: #666;
  height: 30px;
}
.templatemo-table-fj thead th
{
  background-color: #CCE8EB;
  width: 100px;
  text-align: center;
}
.templatemo-table-fj tr:nth-child(odd)
{
  background: #fff;
}
.templatemo-table-fj tr:nth-child(even)
{
  background: #F5FAFA;
}

.templatemo-form-weiji
{
  margin:0px;
  text-align: center;
  background-color: #CCE8EB;
}

.templatemo-input-weiji
{
  width: 180px;border:1px solid #808080;
}

.templatemo-textarea-weiji
{
  width: 250px;height: 150px;
}

* {
  font-size:14px;
  margin:0px;
  padding:0px;
  font-family: "Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*内容总区域的长度，自行控制*/

.timeline-block {
  width:100%;
  margin:0 auto;
}
/*title区域*/
.timeline-title-info {
  display:-webkit-box;
  display:-moz-box;
}
/*公告文字*/
.timeline-title {
  color:#222222;
  margin-right:16px;
}
/*日期*/
.timeline-time {
  -webkit-box-flex:1;
  box-flex:1;
}
/*内容区域*/
.timeline-info {
  width:100%;
}
/*内容文字*/
.timeline-content {
  border-left:1px solid #222222;
  margin-left:10px;
  padding-left:34px;
  margin-top:10px;
  margin-bottom:8px;
  color:#999999;
  font-size:12px;
  position:relative;
  min-height:66px;
}
.timeline-content::before {
  content:'';
  display:block;
  position:absolute;
  left:-3px;
  top:-3px;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#222222;
}
.timeline-content::after {
  content:'';
  display:block;
  position:absolute;
  left:-3px;
  bottom:0px;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#222222;
}

@media screen and (min-width: 992px) {
	.templatemo-sidebar {
		width: 235px;
		float: left;
		position: relative;
		margin-right: -100%;
	}
}
